
<div class="d-flex flex-wrap justify-content-center bg-dark text-white ticker-holder ">

			<div class=" ">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
					<div class="ticker-text ticker-name  ml-4  mr-2 mt-1 mb-1 font-weight-bold">S&P 500					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">4378.5					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">0.44%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
				<div class="ticker-text ticker-name font-weight-bold">S&P 500				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">4378.5					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">0.44%
					</div>	
				</div>
			</div>

		</div>

					<div class=" ">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold">Nasdaq					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">14726					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">0.28%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
				<div class="ticker-text ticker-name font-weight-bold">Nasdaq				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">14726					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">0.28%
					</div>	
				</div>
			</div>

		</div>

					<div class=" ">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold">Dow Jones					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">34981.6					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">0.45%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
				<div class="ticker-text ticker-name font-weight-bold">Dow Jones				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">34981.6					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">0.45%
					</div>	
				</div>
			</div>

		</div>

						<div class=" d-none d-sm-block">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold">Gold					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">1799.9					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">0.25%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 2021-07-23 15:47:00">
				<div class="ticker-text ticker-name font-weight-bold">Gold				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">1799.9					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">0.25%
					</div>	
				</div>
			</div>

		</div>

					<div class=" d-none d-sm-none d-md-block">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 2021-07-23 16:01:00">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold">EUR/USD					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">1.177					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-minus ">-0.04%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 2021-07-23 16:01:00">
				<div class="ticker-text ticker-name font-weight-bold">EUR/USD				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">1.177					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-minus ">-0.04%
					</div>	
				</div>
			</div>

		</div>

					<div class=" d-none d-sm-none d-md-none d-lg-block">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 2021-07-23 16:00:00">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold">Bitcoin					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">32558					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">0.53%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 2021-07-23 16:00:00">
				<div class="ticker-text ticker-name font-weight-bold">Bitcoin				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">32558					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">0.53%
					</div>	
				</div>
			</div>

		</div>

					<div class=" d-none d-sm-none d-md-block">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 2021-07-23 15:46:00">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold">US 10-YR					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">1.3					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">2.45%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 2021-07-23 15:46:00">
				<div class="ticker-text ticker-name font-weight-bold">US 10-YR				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">1.3					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">2.45%
					</div>	
				</div>
			</div>

		</div>

		</div>

