* {
	outline: 0px solid blue;
}
.logo {
	font-size: 30px;
	font-weight: 900;
}
.navbar
{
	padding-bottom: 0;
	padding-top: 0;
}

.text
{
	font-size: 14px;
	line-height: 20px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

.text-breaking-header
{
	font-size: 14px;
		line-height: 19px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.text-breaking-header
	{
		font-size: 15px;
		line-height: 20px;
	}

}

.text-breaking
{
	font-size: 12px;
	line-height: 17px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.text-breaking
	{
		font-size: 14px;
		line-height: 20px;
	}

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.text-breaking
	{
		font-size: 14px;
		line-height: 20px;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.text-breaking
	{
		font-size: 14px;
		line-height: 20px;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.text-breaking
	{
		font-size: 14px;
		line-height: 20px;
	}

}

.icons {
	color: rgb(83,100,113);
	width: 30px;
	height: 30px;
}



.icons-text {
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.image
{
	background-color: #eaeaea;
}

.image-child {
	max-width: 100%;
}


.main-container {
	width: 598px;
}

.menu-active {
	border-bottom: 3px solid rgb(29,161,242,1.00);
}

.menu-active-breaking {
	border-bottom: 3px solid #d9230f;
}

.menu-font {
	font-size: 0.85rem;
	color: rgb(29,161,242,1.00);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.menu-font {
		font-size: 1.1rem;
		color: rgb(29,161,242,1.00);
	}
}

.menu-div:hover{
	background-color: rgb(29,161,242,0.15);
}

.preview-corners-referenced {
	 border-radius: 26px;

}

.preview-corners {
    border-radius: 26px;
}

.preview-corners-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.preview-title {
	line-height: 1.8rem;
	font-size: 1.11875rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.preview-title {
		font-size: 1.21875rem;
	}
}


.preview-image-holder {
	  max-height: 400px;
    overflow: hidden;
}

.breaking-height {
  overflow-y: hidden;
}

.ticker-holder {
  height: 28px;
  overflow: hidden;
}




.ticker-close {
opacity: 0.90;
}

.ticker-change {
	padding-left: 5px;
	padding-right: 4px;
	padding-bottom:0px;
	border-radius: 4px;
	font-weight: 600;
	font-size: 0.85rem;
	height: 20px;
}
.ticker-text
{
	font-size: 0.80rem;
}

.ticker-change-minus {
	background-color:#d9230f; 
	color: white;
}

.ticker-change-plus {
	background-color: #469408;
	color: white;
}

.ticker-change-zero {
	background-color: gray;
	color: white;
}

.ticker-holder {
    height: auto;
 	 overflow: visible;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
.ticker-holder {
    height: 28px;
 	 overflow: hidden;
}

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.ticker-holder {
   height: 28px;
  overflow: hidden;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.ticker-holder {
  height: 28px;
  overflow: hidden;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
.ticker-holder {
  height: 28px;
  overflow: hidden;
}

}

.word-wrap {
  word-break: break-word;

}

.breaking-small-color {
	color: #d9230f;
}

.image-breaking
{
	max-height: 200px;
	overflow: hidden;
}



.navbar-brand {
    display: inline-block;
    padding-top: .247656rem;
    padding-bottom: .247656rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-item
{
	height: 40px;
	border-left: 0px solid rgb(255,255,255,0.1);
	line-height: 0.75;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.nav-item
	{
		height: 40px;
		border-left: 1px solid rgb(255,255,255,0.1);
		line-height: 0.75;
	}

}

.replytweet svg:hover path {
    opacity: 1;
    fill: #19CF86;
}

.replytweet svg:active path {
    opacity: 0.5;
     fill: #19CF86;
}


.retweettweet svg:hover path {
    fill: #19CF86;
}

.retweettweet svg:active path {
    opacity: 0.5;
    fill: #19CF86;
}


.liketweet svg:hover path {
    fill: #E81C4F;
}

.liketweet svg:active path {
	fill: #E81C4F;
    opacity: 0.5;
}



a {
	color: #5e5e5e;
}

.profile_image
{
	height: 40px;
	width: 40px;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.profile_image
	{
		height: 58px;
		width: 58px;
	}

}