* {
	outline: 0px solid blue;
}
.logo {
	font-size: 30px;
	font-weight: 900;
}
.navbar
{
	padding-bottom: 0;
	padding-top: 0;
}

.text
{
	font-size: 15px;
	line-height: 21px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}

}

.text-breaking-header
{
	font-size: 14px;
		line-height: 19px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.text-breaking-header
	{
		font-size: 15px;
		line-height: 20px;
	}

}

.text-breaking
{
	font-size: 12px;
	line-height: 17px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.text-breaking
	{
		font-size: 14px;
		line-height: 19px;
	}

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
	.text-breaking
	{
		font-size: 14px;
		line-height: 19px;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.text-breaking
	{
		font-size: 14px;
		line-height: 19px;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.text-breaking
	{
		font-size: 14px;
		line-height: 19px;
	}

}

.icons {
	color: rgb(83,100,113);
	width: 30px;
	height: 30px;
}



.icons-text {
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.image
{
	max-height: 350px;
	overflow: hidden;
	background-color: #eaeaea;
}

.image-child {
	height: 100%;
	max-width: 100%;
}


.main-container {
	width: 598px;
}

.menu-active {
	border-bottom: 3px solid rgb(29,161,242,1.00);
}

.menu-active-breaking {
	border-bottom: 3px solid #d9230f;
}

.menu-font {
	font-size: 0.85rem;
	color: rgb(29,161,242,1.00);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.menu-font {
		font-size: 1.1rem;
		color: rgb(29,161,242,1.00);
	}
}

.menu-div:hover{
	background-color: rgb(29,161,242,0.15);
}

.preview-corners-referenced {
	 border-radius: 25px;

}

.preview-corners {
    border-radius: 25px;
}

.preview-corners-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.preview-title {
	line-height: 1.8rem;
}

.preview-image-holder {
	  max-height: 400px;
    overflow: hidden;
}

.breaking-height {
  overflow-y: hidden;
}

.ticker-holder {
  height: 28px;
  overflow: hidden;
}




.ticker-close {
opacity: 0.90;
}

.ticker-change {
	padding-left: 5px;
	padding-right: 4px;
	padding-bottom:0px;
	border-radius: 4px;
	font-weight: 600;
	font-size: 0.85rem;
	height: 20px;
}
.ticker-text
{
	font-size: 0.80rem;
}

.ticker-change-minus {
	background-color:#d9230f; 
	color: white;
}

.ticker-change-plus {
	background-color: #469408;
	color: white;
}

.ticker-change-zero {
	background-color: gray;
	color: white;
}

.ticker-holder {
    height: auto;
 	 overflow: visible;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
.ticker-holder {
    height: 28px;
 	 overflow: hidden;
}

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.ticker-holder {
   height: 28px;
  overflow: hidden;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.ticker-holder {
  height: 28px;
  overflow: hidden;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
.ticker-holder {
  height: 28px;
  overflow: hidden;
}

}

.word-wrap {
 /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.breaking-small-color {
	color: #d9230f;
}

.image-breaking
{
	max-height: 200px;
	overflow: hidden;
}


.slogan-holder {
	margin-top: 6px;
}

.slogan {
	font-size: 16px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .247656rem;
    padding-bottom: .247656rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-item
{
	height: 40px;
	border-left: 1px solid rgb(255,255,255,0.1);
	line-height: 0.75;
	
}

