<div class="container-fluid bg-light border-bottom border-top">
	<div class="container p-4 ">
		<div class="row">
			<div class="col-12 ">
				<div class="mb-3">
					<div>
						<h5>Lagrede leiligheter/punkter:</h5>
					</div>
					<div class="d-flex mr-3">
						<div class="d-flex flex-wrap">
							<div class="mr-3 mt-2">
								<a href="proximity_map_all.php" class="btn btn-secondary" role="button">
									<div class="d-flex mr-3">
										<div class="mr-2 pt-1"><i class="fa fa-map-marker fa-2x mr-1" aria-hidden="true"></i> </div>
										<div class="my-auto">Kart alle
										</div>
									</div>
								</a>
							</div>
							<div class="mr-3 mt-2">
								<a href="proximity_map_saved.php" class="btn btn-secondary" role="button">
									<div class="d-flex mr-3">
										<div class="mr-2 pt-1"><i class="fa fa-map-marker fa-2x mr-1" aria-hidden="true"></i> </div>
										<div class="my-auto">Kart (punkter)
										</div>
									</div>
								</a>
							</div>														
							<div class="mr-3 mt-2">
								<a href="proximity_map.php" class="btn btn-secondary" role="button">
									<div class="d-flex mr-3">
										<div class="mr-2 pt-1"><i class="fa fa-map-marker fa-2x mr-1" aria-hidden="true"></i> </div>
										<div class="my-auto">Kart (nært)
										</div>
									</div>
								</a>
							</div>
							<div class="mr-3 mt-2">
								<a href="proximity_show.php" class="btn btn-secondary" role="button">
									<div class="d-flex mr-3">
										<div class="mr-2 pt-1 "><i class="fa fa-th-list fa-2x mr-1" aria-hidden="true"></i> </div>
										<div class="my-auto 1">Liste (nært)
										</div>
									</div>
								</a>
							</div>
							<div class="mr-3 mt-2">
								<a href="saved_show.php" class="btn btn-secondary" role="button">
									<div class="d-flex mr-3">
										<div class="mr-2 pt-1 "><i class="fa fa-th-list fa-2x mr-1" aria-hidden="true"></i> </div>
										<div class="my-auto 1">Liste (lagret)
										</div>
									</div>
								</a>
							</div>
							<div class="mr-3 mt-2">
								<a href="average_prices_show.php" class="btn btn-secondary" role="button">
									<div class="d-flex mr-3">
										<div class="mr-2 pt-1 "><i class="fa fa-building fa-2x mr-1" aria-hidden="true"></i> </div>
										<div class="my-auto 1">Snittpriser
										</div>
									</div>
								</a>
							</div>							


						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 ">
				<div class="">
					<h5>Programkjøringer:</h5>
				</div>				
				<div class="d-flex">
					<div class="mr-2"><a href="proximity_control.php" class="btn btn-dark" role="button">Oppdater kart</a></div>				

					<div class="ml-2">
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2">
							Oppdater alt
						</button>
					</div>

					<!-- The Modal -->
					<div class="modal" id="myModal2">
						<div class="modal-dialog">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Oppdater alt</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body">Bekreft for laste ned fra finn.no og oppdatere alt.<br> Viktig: Dette gjøres allerede automatisk og bør ikke gjøres for ofte.<br> <br>
									<a href="control_all.php" class="btn btn-danger" role="button">Ja, jeg vil oppdatere alt</a>

								</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-info" data-dismiss="modal">Lukk</button>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 mb-3">
				<div class="mt-2">
					<h5>Legg til interessepunkt:</h5>
				</div>				
				<div class="">
					<div class="d-flex flex-wrap">
						<div class="mr-2 mb-1">
							<input style="width:250px;" type="text" class=" "value="Tast inn en gateadresse" id="input"> 
						</div>
						<div class="mr-2 mb-1">
							<button class="btn btn-success " id="adressebutton">Legg til</button>
						</div>
						<div class="mr-2 mb-1">
							<a href="index_.php" class="btn btn-info" role="button">Se nettside-front</a>
						</div>
						<div class="mr-2 mb-1">
							<a href="showings_form.php" class="btn btn-secondary" role="button">Legg til visning (skjema)</a>
						</div>
						<div class="mr-2 mb-1">
							<a href="showings_display.php" class="btn btn-secondary" role="button">Vis visninger</a>
						</div>
						<div class="mr-2 mb-1">
							<a href="html_to_json_showings.php" class="btn btn-secondary" role="button">Oppdater indeks</a>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-12 mb-3">
				<div class="mt-2">
					<h5>Vis kart, pris opptil i millioner:</h5>
				</div>				
				<div class="d-flex flex-wrap">
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=3000000" class="btn btn-secondary" role="button">3,00</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=3250000" class="btn btn-secondary" role="button">3,25</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=3500000" class="btn btn-secondary" role="button">3,50</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=3750000" class="btn btn-secondary" role="button">3,75</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=4000000" class="btn btn-secondary" role="button">4,00</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=4250000" class="btn btn-secondary" role="button">4,25</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=4500000" class="btn btn-secondary" role="button">4,50</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=4750000" class="btn btn-secondary" role="button">4,75</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php?max=5000000" class="btn btn-secondary" role="button">5,00</a></div>
					<div class="mr-2 mt-2"><a href="proximity_map_all.php" class="btn btn-secondary" role="button">Alle</a></div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-12 mb-3">
				<div class="mt-2">
					<h5>Sorter liste på tid:</h5>
				</div>				
				<div class="d-flex flex-wrap">
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=3&sort=<?php echo $sort; ?>&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">3 mnd</a></div>
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=6&sort=<?php echo $sort; ?>&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">6 mnd</a></div>
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=12&sort=<?php echo $sort; ?>&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">12 mnd</a></div>
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=24&sort=<?php echo $sort; ?>&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">24 mnd</a></div>
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=5000&sort=<?php echo $sort; ?>&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">Alle</a></div>
				</div>	
			</div>
			<div class="col-12 col-sm-12 col-md-12 mb-3">
				<div class="mt-2">
					<h5>Sorter liste på endring av pris:</h5>
				</div>				
				<div class="d-flex flex-wrap">
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=<?php echo $time; ?>&sort=price_descending&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">Lavest gevinst</a></div>
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=<?php echo $time; ?>&sort=price_ascending&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">Høyest gevinst</a></div>
					<div class="mr-2 mt-2"><a href="flipped_panel.php?show=<?php echo $time; ?>&sort=published&modus=<?php echo $mode; ?>&dato=<?php echo $date; ?>" class="btn btn-secondary" role="button">Publisert</a></div>
				</div>	
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">

	$(document).ready(function(){

		$('#adressebutton').click(function(e) {  
			var inputvalue = $("#input").val();
			window.location.replace("point_of_interest_adder.php?adress="+inputvalue);

		});
	});
</script> 