* {
  outline: 0px solid blue;  
}

p {
    font-weight: 400;
    font-size: 1.1rem;
}

.panel-danger {
    border-color: red;
}

.panel-danger>.panel-heading {
    color: #fff;
    background-color: red;
    border-color: red;
}

.panel-green {
    border-color: #006e1a;
}

.panel-green>.panel-heading {
    color: #fff;
    background-color: #006e1a;
    border-color: #006e1a;
}

.exchange-header {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 24px;
    font-weight: 700;
}

.exchange-header-up {
	color: green;
}

.exchange-header-neutral {
	color: black;
}

.exchange-header-down {
	color: red;
}

.exchange-header-orange {
    color: #fb6340;
}

.exchange-header-violet
{
    color: #8965e0;
}



.allpositions {
    margin-top:-20px;
    padding-top: 11px;
}

.panel-body {
    padding-bottom: 5px;
}

.hidden {
    visibility: hidden;
}

.panel-header {
    font-size: 16px;
    font-weight: 700;
}

.logo {
    font-size: 30px;
    font-weight: 900;
}

.navbar {
    padding-left: 10px;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0px;
}

.nokkeltall {
    height: 36px;
    padding: 0.3rem;
    padding-left:0.415rem;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
    width: 100%;
    z-index: 999;
    margin-bottom: -56px;
}

.headroom--pinned {
    transform: translateY(0%);
    z-index: 999;
}
.headroom--unpinned {
    transform: translateY(-100%);
    z-index: 999;
}

.headroom--not-top {
    padding-top: .0rem;
    padding-bottom: .0rem;
    z-index: 999;
}

.header--fixed.slideUp.top {
  transform: translateY(-100%);
  position: absolute;
  z-index: 999;
}

main {
  padding: 78px 0 0 0;
  overflow: visible ;
}

.icon_font_awesome  {
    font-size: 27px;
}

.section-first {
    margin-top:-23px;
}

.section-shaped .shape {
    height:660px;
}
.z-lav {
    z-index: -1;
}

.nokkeltall_topp {
    margin-top:0px;
}

.index {
    font-size: 24px;
    color: black;
    float: left;
    width: 35px;
    padding-right: 10px;
}

.flagg {
    margin-top: 6px;
}

.o-meter-link {
    color: #fff;

}

.o-meter-link:hover {
    color: #d8d8d8;
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .card-body {
        flex: 1 1 auto;
        padding: 0.8rem;
    }

}

.o-meter {
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
}



.o-meter li {
    list-style: none;
    float: left;
    margin: 1px 1px 1px 1px;  
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    width: 24.0%;
    text-align: center;
    border-radius: 3px;
    height: 60px;
    padding: 4px;
}

.o-meter li .number {
    margin-top: 5px;
    font-weight: 100;
}
.o-meter li .ticker {
    margin-top: 5px;
    overflow: hidden;
    white-space:nowrap;
}


.o-meter li * {
    text-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.meter ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.meter {
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.distance {
    margin-bottom: 20px;
}

.meter-up-4 {
    background-color: rgb(9, 129, 0);
}
.meter-up-3 {
    background-color: rgba(9, 129, 0, 0.8);
}

.meter-up-2 {
    background-color: rgba(9, 129, 0, 0.6);
}
.meter-up-1 {
    background-color: rgba(9, 129, 0, 0.4);
}

.meter-up-0 {
    background-color: #c4c4c4;
}

.meter-down-1 {
    background-color: rgba(180, 14, 9, 0.4);
}

.meter-down-2 {
    background-color: rgba(180, 14, 9, 0.6);
}

.meter-down-3 {
    background-color: rgba(180, 14, 9, 0.8);
}

.meter-down-4 {
    background-color: rgb(180, 14, 9);
}


@media (max-width: 575px) { 

      h2, .h2 {
        font-size: 1.80rem;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    h2, .h2 {
        font-size: 1.80rem;
    }
}


@media (min-width: 768px) and (max-width: 991px) { 


}

@media (min-width: 992px) and (max-width: 1199px) {
    h2, .h2 {
        font-size: 1.8rem;
    }
}


@media (min-width: 1200px) { 
}

.stock-bar {
    height: 13px;
}

.stock-bar-zero {
    background-color: #b6b6b6;
}
.stock-bar-padding {
    margin-left: 3px
}
.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.temperature-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.bg-yellow {
    background-color: yellow;
}

.banner-norway {
    background-image: url("../img/norway_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
}

.banner-background-norway {
   background-color: #b40e09;
}

.banner-background-sweden {
   background-color: #2f5b95;
}

.banner-sweden {
    background-image: url("../img/sweden_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
}

.banner-background-denmark {
   background-color: #b40e09;
}

.banner-denmark {
    background-image: url("../img/denmark_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
}


.banner-background-finland {
   background-color: white;
}

.banner-finland {
    background-image: url("../img/finland_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
}

.text-blue {
    color: #2f327c;
}

.banner-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner-norway-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center !important;
    padding-bottom: 5px;
    
}
.banner-norway-percent {
    font-size: 2rem;
    font-weight: 700;
    text-align: right !important;
    padding-bottom: 5px;
}

.banner-padding {
    padding-right: 15px;
    padding-left: 15px;
}

.banner-padding-finland {
    margin-right: 0px;
    margin-left: 0px;
}

.ticker-padding {
    padding-right: 15px;
    padding-left: 15px;
}


@media (max-width: 575px) { 
   .banner-norway {
    background-image: none;
    background-repeat: no-repeat;
    height: 45px;
    display:none;
}
.banner-norway-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left !important;


}
.banner-norway-percent {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: right !important;

    padding-bottom: 5px;
    padding-right: 15px;
}
.banner-sweden {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}
.banner-denmark {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}
.banner-germany {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}
.banner-united_kingdom {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}  
.banner-italy {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}  
.banner-france {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}  
.banner-spain {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}  
}


@media (min-width: 576px) and (max-width: 767px) {
   .banner-norway {
    background-image: none;
    background-repeat: no-repeat;
    height: 45px;
    display:none;
}

.banner-sweden {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}
.banner-denmark {
    background-image: none;
    background-repeat: no-repeat;
    height: 53px;
    display:none;
}
.banner-norway-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: left !important;

}
.banner-norway-percent {
    font-weight: 700;
    text-align: right !important;
    padding-bottom: 5px;
    padding-right: 15px;
}
.ticker-padding {
    padding-right: 0px;
    padding-left: 0px;
}
}


@media (min-width: 768px) and (max-width: 991px) { 
    .banner-norway-percent {
        font-weight: 700;
        text-align: right !important;
        padding-bottom: 5px;
        padding-right: 15px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 1200px) { 
}


@media (max-width: 575px) { 
   .exchange-index {
    font-size: 0.8rem;
}
}
.margin-bottom {
    margin-bottom:8px;
    padding-bottom:8px;
}

.tab-border {

    border-bottom-style: solid;
    border-bottom-width: 0.0625rem;
    border-bottom-color: rgba(0, 0, 0, 0.05);

    border-left-style: solid;
    border-left-width: 0.0625rem;
    border-left-color: rgba(0, 0, 0, 0.05);

    border-right-style: solid;
    border-right-width: 0.0625rem;
    border-right-color: rgba(0, 0, 0, 0.05);

    border-top-width: 0;
    border-right-color: rgba(0, 0, 0, 0.05);

}

.tab-border-4-sides {

    border-bottom-style: solid;
    border-bottom-width: 0.0625rem;
    border-bottom-color: rgba(0, 0, 0, 0.05);

    border-left-style: solid;
    border-left-width: 0.0625rem;
    border-left-color: rgba(0, 0, 0, 0.05);

    border-right-style: solid;
    border-right-width: 0.0625rem;
    border-right-color: rgba(0, 0, 0, 0.05);

    border-top-style: solid;
    border-top-width: 0.0625rem;
    border-top-color: rgba(0, 0, 0, 0.05);
}


.big-bets {
    width: 574px;
}


@media (max-width: 575px) { 

}


@media (min-width: 576px) and (max-width: 767px) {     

}


@media (min-width: 768px) and (max-width: 991px) { 

}

@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 1200px) { 
}


@media (max-width: 575px) { 

}
}


input {
    outline: none;
}
input[type=text] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=text] {
    background:  url(/img/search-icon.png) no-repeat 9px center;
    border: solid 0px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    margin-top: 8px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=text]:focus {
    background:  url(/img/search-icon-dark.png) no-repeat 9px center;
    width: 130px;
    background-color: #fff;
    border-color: none;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
#searchform input[type=text] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#searchform input[type=text]:hover {
    background-color: none;
}
#searchform input[type=text]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#searchform input:-moz-placeholder {
    color: transparent;
}
#searchform input::-webkit-input-placeholder {
    color: transparent;
}

#livesearch
{
    position: absolute;
    background: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 410px;
    overflow-y: auto;

    /*This is relative to the navbar now*/
    left: 38%;
    right: 37%;
    top: 55px;
}
.searchHit {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}



@media (min-width: 992px) and (max-width: 1199px) {

    #livesearch {
        position: absolute;
        background: white;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        max-height: 410px;
        overflow-y: auto;

        /*This is relative to the navbar now*/
        left: 36%;
        right: 30%;
        top: 55px;
    }
}

@media (min-width: 1200px) { 
}

.btn-margin {
    margin-left: 5px;
}

.bg-gradient-grey {
    background: linear-gradient(87deg, #f9f9f9 0, #c5c5c5 100%) !important;
}
.bg-gradient-blueish {
    background: linear-gradient(150deg, #7795f8 100%, #6772e5 50%, #555abf 60%);
}

.history-link > a {
    color: yellow;
}

footer {
 background-color: white;
 position: bottom;
 bottom: 0;
 left: 0;
 right: 0;
 text-align: center;
 color: black;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 120%;
}

.table-most-shorted {
    margin-bottom: 0.45rem;
}

.updated {
    font-size: 16px;
    font-weight: 500;
    color: gray;
    padding-top:1em;
}

.updated-h4  {
    font-size: 16px;
    font-weight: 500;
    color: gray;
    padding-top:0.5em;
}


@media (max-width: 575px) { 
    .updated {
        font-size: 12px;
        font-weight: 500;
        color: gray;
        padding-top:1.4em;
    }
}


@media (min-width: 576px) and (max-width: 767px) {     
    .updated {
        font-size: 16px;
        font-weight: 500;
        color: gray;
        padding-top:0.8em;
    }
}


@media (min-width: 768px) and (max-width: 991px) { 

}

@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 1200px) { 
}


/* The ribbons */

.ribbon {
  position: absolute;
  left: 16px; top: 16px;
  z-index: 1;
  overflow: hidden;
  width: 200px; height: 200px;
  text-align: right;
}
.ribbon span {
  position: absolute;
  letter-spacing: 0.0px;
  top: 25px; left: -48px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  text-align: center;
  line-height: 28px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 170px;
  display: block;
  background: white;

}

@media (min-width: 576px) and (max-width: 767px) {     
    .ribbon {
      position: absolute;
      left: 12px; top: 13px;
      z-index: 1;
      overflow: hidden;
      width: 200px; height: 200px;
      text-align: right;
  }

  .ribbon span {
      position: absolute;
      top: 20px; left: -53px;
      font-size: 13px;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      text-align: center;
      line-height: 26px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      width: 170px;
      display: block;
      background: white;

  }
}

.badge-summary {
    font-size: 100%;
    font-weight: 400;
}

@media (max-width: 575px) { 
    .title-summary {
        font-size: 1.3rem;
    }
}


@media (min-width: 576px) and (max-width: 767px) {     

}


@media (min-width: 768px) and (max-width: 991px) { 

}

@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 1200px) { 
    .title-summary {
        font-size: 1.75rem;
    }
}

.summary-small-text {
    display: inline-block;
    padding: 0.35rem 0.375rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.most-shorted-table-heading-share {
    min-width: 78px;
}
.most-shorted-table-heading-a-week-ago {
    min-width: 90px;
}

.heatmap-percentage {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.9;
}
.heatmap-days {
    font-size: 1.1rem;
    line-height: 1.2;
}
.heatmap-width-holder {
    width: 70px;
}
.heatmap-width-holder-circles {
    width: 280;
}

@media (max-width: 575px) { 
    .heatmap-width-holder-circles {
        width: 280px;
    }
}

.heatmap-percent-text {
    font-size: 0.88rem;
}

.heatmap-bar {
    margin: -2px;
}

.active-positions-percent-cell {
    min-width: 60px;
}

.detaljer-selskap-price {
    font-weight: 700;
    font-size: 1.55rem;
}
.detaljer-selskap-change {
    font-weight: 500;
    font-size: 1.3rem;
}

@media (min-width: 576px) and (max-width: 767px) {     

    .detaljer-selskap-price {
        font-weight: 700;
        font-size: 1.15rem;
    }
    .detaljer-selskap-change {
        font-weight: 500;
        font-size: 1.1rem;
    }


}

.playerpositions_ranking_index {
    width: 35px;
    padding-top:25px;
    height: 80px;
}

.playerpositions_ranking_bottom_line {
    border-bottom: 5px solid;
} 
.playerpositions_ranking_center {
    justify-content: center;
}

.background-color-green {
    background-color: green;
}

.background-color-neutral {
    background-color: #c4c4c4;
}

.background-color-red {
    background-color: red;
}

.black-text {
    color: black;
}
.text-black {
    color: black;
}

.bg-black {
    background-color: black;
}

.news-date {
    min-width: 80px;
}

.progress-height {
    height: 21.5px;
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 0;
}

.sector-category {
    font-size: 1.2rem;
}

.sector-sum {
    margin-top: 4px;
}

.tab-bottom {
    padding-bottom: 0px;
}

.newposition-numbers-box {
    height: 37px;
    padding-top: 3px;
    min-width: 123px;;

}

.newposition-font {
    letter-spacing: 1px;
    font-weight: 900;

}

.newposition-company {
    text-overflow: ellipsis;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newposition-small-font {
    font-weight: 700;
    opacity: 0.85;
    font-size: 1.28rem;
}

.newposition-started {
    font-size: 0.9rem;
}

.newpositon-border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 0.25rem;
    border-bottom-color: rgba(0, 0, 0, 0.05);
}

.newposition-bottom-padding {
    margin-bottom: 19.5px;
}

.newposition-box {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
    border-radius: 0.25rem;
}

.most-earning-text {
    color: #525f7f
}

.bg-grey {
    background-color: #3c3c3c;
}
.greyish {
    opacity: 0.75;
}

.table-padding-bottom {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.most-shorted-bottom-spacer {
    height: 7px;
}

.dropdown-padding-under {
    padding-bottom: 5px;
    padding: 0;
}

@media (min-width: 992px){

    .dropdown-menu {
      min-width: 12rem; 
  }

  .dropdown-menu .dropdown-item 
  {
    padding-left: .5rem;
    padding-right: 0.5rem;
    padding-top: .05rem;
    padding-bottom: 0.05rem;
    font-size: 0.875rem; 
}
}

.padding-left-0
{
    padding-left: 0;
}

.list-group-news
{
    padding: 0.0rem;
}

.list-group-news-div
{
    padding: 0.3rem;
}

.list-group-news-number-div
{

}

.list-group-news-number
{
    padding-top: 0.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-top: -10px;
    font-size: 2rem;
    font-weight: 700;
}

.list-group-news-million
{
    margin-top: -10px;
    font-weight: 700;
}

.text-event {
    color: #525f7f;
}
.shortpercentcell 
{
    min-width: 60px;
}

.eventsnumber {
    min-width: 26px;
    font-weight: 700;
}

.banner-germany{
    background-image: url("../img/germany_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
    background-color: #000000;
}

.banner-background-germany {
   background-color: #000000;
}

.banner-united_kingdom {
    background-image: url("../img/united_kingdom_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
    background-color: #00247D;
}

.banner-background-united_kingdom {
   background-color: #00247D;
}

.banner-italy {
    background-image: url("../img/italy_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
    background-color: #CE2B37;
}

.banner-background-italy {
   background-color: #CE2B37;
}

.banner-france {
    background-image: url("../img/france_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
    background-color: #ed2939;
}

.banner-background-france {
   background-color: #ed2939;
}

.banner-spain {
    background-image: url("../img/spain_banner.svg");
    background-repeat: no-repeat;
    height: 53px;
    background-color: #ffc400;
}

.banner-background-spain {
   background-color: #ffc400;
}

.summary-text {
    font-size: 20px;
}

