	<script src="js/lazysizes.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip({
			    trigger : 'hover'
			})
			$('a').click(function(){
				$('[data-toggle="tooltip"]').tooltip('hide');
			});
		});		
	</script>