
<div class="d-flex flex-wrap justify-content-center bg-dark text-white ticker-holder ">

			<div class=" ">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 12 hours ago">
					<div class="ticker-text ticker-name  ml-4  mr-2 mt-1 mb-1 font-weight-bold "><a class="text-white" href="ticker.php?ticker=GSPC.INDX&name=S%26P+500">S&P 500</a>
					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">4,524					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">0.03%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 12 hours ago">
				<div class="ticker-text ticker-name font-weight-bold"><a class="text-white" href="ticker.php?ticker=GSPC.INDX&name=S%26P+500">S&P 500</a>
				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">4,524					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">0.03%
					</div>	
				</div>
			</div>

		</div>

		
			<div class=" ">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 12 hours ago">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold "><a class="text-white" href="ticker.php?ticker=IXIC.INDX&name=Nasdaq">Nasdaq</a>
					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">15,309					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">0.33%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 12 hours ago">
				<div class="ticker-text ticker-name font-weight-bold"><a class="text-white" href="ticker.php?ticker=IXIC.INDX&name=Nasdaq">Nasdaq</a>
				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">15,309					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">0.33%
					</div>	
				</div>
			</div>

		</div>

					<div class=" ">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 12 hours ago">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold "><a class="text-white" href="ticker.php?ticker=DJI.INDX&name=Dow+Jones">Dow Jones</a>
					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">35,313					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-minus ">-0.14%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 12 hours ago">
				<div class="ticker-text ticker-name font-weight-bold"><a class="text-white" href="ticker.php?ticker=DJI.INDX&name=Dow+Jones">Dow Jones</a>
				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">35,313					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-minus ">-0.14%
					</div>	
				</div>
			</div>

		</div>

						<div class=" d-none d-sm-block">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 1 hour ago">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold "><a class="text-white" href="ticker.php?ticker=GC.COMM&name=Gold">Gold</a>
					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">1,816					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-minus ">-0.04%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 1 hour ago">
				<div class="ticker-text ticker-name font-weight-bold"><a class="text-white" href="ticker.php?ticker=GC.COMM&name=Gold">Gold</a>
				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">1,816					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-minus ">-0.04%
					</div>	
				</div>
			</div>

		</div>

						<div class=" d-none d-sm-none d-md-none d-lg-block">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 1 hour ago">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold "><a class="text-white" href="ticker.php?ticker=BTC-USD.CC&name=Bitcoin">Bitcoin</a>
					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">49,898					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-plus ">2.34%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 1 hour ago">
				<div class="ticker-text ticker-name font-weight-bold"><a class="text-white" href="ticker.php?ticker=BTC-USD.CC&name=Bitcoin">Bitcoin</a>
				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">49,898					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-plus ">2.34%
					</div>	
				</div>
			</div>

		</div>

					<div class=" d-none d-sm-none d-md-block">
		<div class="d-none d-sm-block">
				<div class="d-flex flex-row " data-toggle="tooltip" title="Updated 1 hour ago">
					<div class="ticker-text ticker-name  mr-2 mt-1 mb-1 font-weight-bold "><a class="text-white" href="ticker.php?ticker=US10Y.INDX&name=US+10-YR">US 10-YR</a>
					</div>
					<div class="d-none d-sm-none d-md-block ticker-text ticker-close mr-2 mt-1 mb-1">1.30					</div>	
					<div class="ticker-change mr-4 mt-1 mb-1 ticker-change-minus ">-0.23%
					</div>	
				</div>
			</div>

			<div class="d-sm-none d-md-none d-lg-none d-xl-none d-flex flex-column flex-sm-row align-items-center justify-content-center mx-2 my-1" data-toggle="tooltip" title="Updated 1 hour ago">
				<div class="ticker-text ticker-name font-weight-bold"><a class="text-white" href="ticker.php?ticker=US10Y.INDX&name=US+10-YR">US 10-YR</a>
				</div>
				<div class="d-flex flex-row justify-content-center text-center mx-auto">
					<div class="ticker-text ticker-close mr-1 mt-1 mb-1">1.30					</div>	
					<div class="ticker-change mt-1 mb-1 ticker-change-minus ">-0.23%
					</div>	
				</div>
			</div>

		</div>

		</div>

