
<div style="margin-top: 1.5rem; text-align: center;"  >

	<?php 
	if ($mode == 'shortnordic')
	{

	?>
    <p><span class="font-weight-bold"> © <?php echo date("Y"); ?> <a style="text-decoration:none;" href="https://shortnordic.com ">ShortNordic.com </a> </span>- a free tool for investors and journalists</p>
    <p class=''>"Always check who is betting against you".</p>
         <p style="color: gray">Data source for this newsletter is <a href="https://shorteurope.com">ShortEurope.com.</a></p>
	<?php

	}
	else if (($mode == 'shorteurope'))
	{

	?>
    <p><span class="font-weight-bold"> © <?php echo date("Y"); ?> <a style="text-decoration:none;" href="https://shorteurope.com ">ShortEurope.com </a> </span>- a free tool for investors and journalists</p>
    <p class=''>"Always check who is betting against you".</p>

	<?php

	}
	?>
    </p>
    <br>
</div>

</div>
</div>
</body>
</html>