<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: include(../production_europe/newsletter_header.html): failed to open stream: No such file or directory in C:\repos\shortsinglesite\newsletter\newsletter_generator_shortnordic.php on line <i>15</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0006</td><td bgcolor='#eeeeec' align='right'>389600</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\repos\shortsinglesite\newsletter\control_subscriptions.php' bgcolor='#eeeeec'>...\control_subscriptions.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2117</td><td bgcolor='#eeeeec' align='right'>773160</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\repos\shortsinglesite\newsletter\send_email_subscriptions.php'</font> )</td><td title='C:\repos\shortsinglesite\newsletter\control_subscriptions.php' bgcolor='#eeeeec'>...\control_subscriptions.php<b>:</b>5</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.3863</td><td bgcolor='#eeeeec' align='right'>1453888</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\repos\shortsinglesite\newsletter\newsletter_generator_shortnordic.php'</font> )</td><td title='C:\repos\shortsinglesite\newsletter\send_email_subscriptions.php' bgcolor='#eeeeec'>...\send_email_subscriptions.php<b>:</b>95</td></tr>
</table></font>
<br />
<font size='1'><table class='xdebug-error xe-warning' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Warning: include(): Failed opening '../production_europe/newsletter_header.html' for inclusion (include_path='.;C:\php\pear') in C:\repos\shortsinglesite\newsletter\newsletter_generator_shortnordic.php on line <i>15</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0006</td><td bgcolor='#eeeeec' align='right'>389600</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\repos\shortsinglesite\newsletter\control_subscriptions.php' bgcolor='#eeeeec'>...\control_subscriptions.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.2117</td><td bgcolor='#eeeeec' align='right'>773160</td><td bgcolor='#eeeeec'>require( <font color='#00bb00'>'C:\repos\shortsinglesite\newsletter\send_email_subscriptions.php'</font> )</td><td title='C:\repos\shortsinglesite\newsletter\control_subscriptions.php' bgcolor='#eeeeec'>...\control_subscriptions.php<b>:</b>5</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>3</td><td bgcolor='#eeeeec' align='center'>0.3863</td><td bgcolor='#eeeeec' align='right'>1453888</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\repos\shortsinglesite\newsletter\newsletter_generator_shortnordic.php'</font> )</td><td title='C:\repos\shortsinglesite\newsletter\send_email_subscriptions.php' bgcolor='#eeeeec'>...\send_email_subscriptions.php<b>:</b>95</td></tr>
</table></font>
<div class="col-12">
<h3 style="font-family: Helvetica, arial, sans-serif;">Newest changes short positions Thursday</h3>
<!--<p>Pulished .</p>-->
</div>

<div class="" style=" padding: 0px;; ">
	<div class="col-12" style=" ">
		<a style="color: black;  text-decoration: none; " href="https://shortnordic.com/index_sweden.php"><h3 style="margin-top: 5px; margin-bottom: 5px; font-size: 1.5rem; font-family: Helvetica, arial, sans-serif;">Sweden </h3></a>
	</div>

<div class="" style="font-family: Helvetica, arial, sans-serif; max-width: 500px; margin-bottom: 15px;">
	<div class="">
		<table class="table main table-sm" style="background-color: white; width: 100%; margin-bottom: 8px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">
			<thead class="thead">
				<tr style=" text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">
					<th style="text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">#</th>
					<th style=" ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Company</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Change</th>					
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Short</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Date</th>
				</tr>
			</thead>
			<tbody  style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " class="inside">

							<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">1.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Fingerprint Cards B&land=sweden">Fingerprint Cards B</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.48&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">6.23&nbsp;%</td><td>2021-06-09</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">2.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Electrolux B&land=sweden">Electrolux B</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.18&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">3.81&nbsp;%</td><td>2021-06-09</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">3.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Oncopeptides&land=sweden">Oncopeptides</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.12&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">1.42&nbsp;%</td><td>2021-06-09</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">4.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Hansa Biopharma&land=sweden">Hansa Biopharma</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.09&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">1.40&nbsp;%</td><td>2021-06-09</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">5.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=ICA Gruppen&land=sweden">ICA Gruppen</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">-0.01&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">2.80&nbsp;%</td><td>2021-06-09</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">6.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Fast. Balder B&land=sweden">Fast. Balder B</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">-0.09&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">0.67&nbsp;%</td><td>2021-06-09</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">7.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Samhällsbyggnadsbo. i Norden B&land=sweden">Samhällsbyggnadsbo. i Norden B</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">-1.53&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">1.09&nbsp;%</td><td>2021-06-09</td>
				</tr>
					</tbody>
	</table>
	
	<div style="text-align: left;">
	<a style="color: black; " class="" href="https://shortnordic.com/most_shorted_companies_all.php?country=sweden">Link to most shorted Sweden.	</a>
	</div>
	
</div>
</div>
</div>
<div class="" style=" padding: 8px; padding-top: 3px;  padding-bottom: 3px;;  background-color: #e9f8ff;">
	<div class="col-12" style="  background-color: #e9f8ff;">
		<a style="color: black;  text-decoration: none; " href="https://shortnordic.com/index_norway.php"><h3 style="margin-top: 5px; margin-bottom: 5px; font-size: 1.5rem; font-family: Helvetica, arial, sans-serif;">Norway </h3></a>
	</div>

<div class="" style="font-family: Helvetica, arial, sans-serif; max-width: 500px; margin-bottom: 15px;">
	<div class="">
		<table class="table main table-sm" style="background-color: white; width: 100%; margin-bottom: 8px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">
			<thead class="thead">
				<tr style=" text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">
					<th style="text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">#</th>
					<th style=" ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Company</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Change</th>					
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Short</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Date</th>
				</tr>
			</thead>
			<tbody  style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " class="inside">

							<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">1.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=PGS&land=norway">Pgs</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.10&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">5.41&nbsp;%</td><td>2021-04-27</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">2.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=REC Silicon&land=norway">Rec Silicon</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.08&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">0.81&nbsp;%</td><td>2021-04-27</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">3.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=TGS-NOPEC Geophysical Company&land=norway">Tgs-nopec Geophysical Company</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">-0.04&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">1.06&nbsp;%</td><td>2021-04-27</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">4.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Nordic Nanovector&land=norway">Nordic Nanovector</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">-0.06&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">2.16&nbsp;%</td><td>2021-04-27</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">5.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=BW Offshore Limited&land=norway">Bw Offshore Limited</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">-0.13&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">2.55&nbsp;%</td><td>2021-04-27</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">6.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=XXL&land=norway">Xxl</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+1.56&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">2.14&nbsp;%</td><td>2021-04-27</td>
				</tr>
					</tbody>
	</table>
	
	<div style="text-align: left;">
	<a style="color: black; " class="" href="https://shortnordic.com/most_shorted_companies_all.php?country=norway">Link to most shorted Norway.	</a>
	</div>
	
</div>
</div>
</div>
<div class="" style=" padding: 0px;; ">
	<div class="col-12" style=" ">
		<a style="color: black;  text-decoration: none; " href="https://shortnordic.com/index_denmark.php"><h3 style="margin-top: 5px; margin-bottom: 5px; font-size: 1.5rem; font-family: Helvetica, arial, sans-serif;">Denmark </h3></a>
	</div>

<div class="" style="font-family: Helvetica, arial, sans-serif; max-width: 500px; margin-bottom: 15px;">
	<div class="">
		<table class="table main table-sm" style="background-color: white; width: 100%; margin-bottom: 8px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">
			<thead class="thead">
				<tr style=" text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">
					<th style="text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">#</th>
					<th style=" ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Company</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Change</th>					
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Short</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Date</th>
				</tr>
			</thead>
			<tbody  style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " class="inside">

							<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">1.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Ambu&land=denmark">Ambu</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">-0.02&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">1.81&nbsp;%</td><td>2021-07-07</td>
				</tr>
					</tbody>
	</table>
	
	<div style="text-align: left;">
	<a style="color: black; " class="" href="https://shortnordic.com/most_shorted_companies_all.php?country=denmark">Link to most shorted Denmark.	</a>
	</div>
	
</div>
</div>
</div>
<div class="" style=" padding: 8px; padding-top: 3px;  padding-bottom: 3px;;  background-color: #e9f8ff;">
	<div class="col-12" style="  background-color: #e9f8ff;">
		<a style="color: black;  text-decoration: none; " href="https://shortnordic.com/index_finland.php"><h3 style="margin-top: 5px; margin-bottom: 5px; font-size: 1.5rem; font-family: Helvetica, arial, sans-serif;">Finland </h3></a>
	</div>

<div class="" style="font-family: Helvetica, arial, sans-serif; max-width: 500px; margin-bottom: 15px;">
	<div class="">
		<table class="table main table-sm" style="background-color: white; width: 100%; margin-bottom: 8px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">
			<thead class="thead">
				<tr style=" text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">
					<th style="text-align: left; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">#</th>
					<th style=" ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Company</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Change</th>					
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Short</th>
					<th style="text-align: right; width: 80px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px;  ">Date</th>
				</tr>
			</thead>
			<tbody  style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " class="inside">

							<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">1.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Outokumpu Oyj&land=finland">Outokumpu Oyj</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.01&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">4.13&nbsp;%</td><td>2020-11-04</td>
				</tr>
								<tr>

				<td style="width: 22px; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ;">2.</td><td style="border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; " ><a style="text-decoration: none;" href="https://shortnordic.com/detaljer_selskap.php?company=Rovio Entertainment Oyj&land=finland">Rovio Entertainment Oyj</a></td><td style="width: 80px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">+0.44&nbsp;%</td><td style="width: 90px; text-align: right; ; border: 1px solid #dee2e6; border-collapse: collapse; padding: 6px; ">0.93&nbsp;%</td><td>2020-11-04</td>
				</tr>
					</tbody>
	</table>
	
	<div style="text-align: left;">
	<a style="color: black; " class="" href="https://shortnordic.com/most_shorted_companies_all.php?country=finland">Link to most shorted Finland.	</a>
	</div>
	
</div>
</div>
</div><p  style="text-align: center; font-family: Helvetica, arial, sans-serif; margin-top: 3px; margin-bottom: 3px;">Content generated 2021-07-08 at 16:46.</p>


<div style="margin-top: 1.5rem; text-align: center;">

	    <p><span class="font-weight-bold">©2021 <a style="text-decoration:none;" href="https://shortnordic.com ">ShortNordic.com </a> </span>- a free tool for investors and journalists<br>"Always check who is betting against you".</p>
         <p style="color: gray">Data source for this newsletter is <a href="https://shorteurope.com">ShortEurope.com.</a></p>
	    </p>
</div>
